# Folders to ignore for C# ASP.NET Core
backend/bin/
backend/obj/

# Local configuration
backend/appsettings.json
backend/appsettings.Development.json

# Visual Studio files
.vs/

# Mac OS
.DS_Store

# Build/Publish artifacts
publish/
publish_iis/
backend/wwwroot/

# Database files
*.db
*.mdf
*.ldf

# Frontend dependencies
node_modules/

# Ignore temporary and log files
tmp/
backend_log.txt
